include LICENSE ext/nanobind/LICENSE ext/spdlog/LICENSE

include stubs/spydlog.pyi

include src/*.cpp

recursive-include ext/spdlog/include/spdlog *.h

recursive-include ext/nanobind/include/nanobind *.h

global-include CMakeLists.txt cmake/*.cmake
